dev-flows.json
[{"id":"d159755.74ae788","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"416d16f.3c6e568","type":"tab","label":"Good Morning - TEST","disabled":false,"info":""},{"id":"b22a282c.19ebd8","type":"tab","label":"People dropdown status 1","disabled":false,"info":""},{"id":"e1b04a49.88742","type":"tab","label":"People dropdown status 2","disabled":false,"info":""},{"id":"8d35b4b0.d6674","type":"subflow","name":"Karien - Alexa Messages","info":"","category":"","in":[{"x":100,"y":200,"wires":[{"id":"ee408e7d.975078"}]}],"out":[],"env":[]},{"id":"415f0e4f.983848","type":"subflow","name":"Fletcher - Alexa Messages","info":"","category":"Notifications","in":[{"x":200,"y":140,"wires":[{"id":"c5a90144.fd0eb8"}]}],"out":[],"env":[]},{"id":"918ab98a.2ba3","type":"server","z":"","name":"HA-HomeAssistant-Dev","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ee408e7d.975078","type":"function","z":"8d35b4b0.d6674","name":"create \"Karien\" message","func":"var name = 'Karien';\n\nmsg.payload = { \n    message: 'Welcome Home' + name\n};\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":189,"wires":[[]]},{"id":"c5a90144.fd0eb8","type":"function","z":"415f0e4f.983848","name":"create \"fletcher\" message","func":"var name = 'Fletcher';\n\nmsg.payload = { \n    message: name + ' is home',\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[[]]},{"id":"6c80c44c.2bea9c","type":"subflow:415f0e4f.983848","z":"d159755.74ae788","name":"","env":[],"x":720,"y":40,"wires":[]},{"id":"a915b70c.2a8a4","type":"subflow:8d35b4b0.d6674","z":"d159755.74ae788","name":"","x":830,"y":320,"wires":[]},{"id":"64c220a9.45072","type":"delay","z":"d159755.74ae788","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":320,"wires":[["a915b70c.2a8a4"]]},{"id":"f5e73493.495d2","type":"server-state-changed","z":"d159755.74ae788","name":"Fletcher Home","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":150,"y":140,"wires":[[],["7613aa17.055e54","6c80c44c.2bea9c","2bc44690.fd95da"]]},{"id":"d032a356.363be","type":"server-state-changed","z":"d159755.74ae788","name":"Karien Home","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":170,"y":200,"wires":[[],["64c220a9.45072","2bc44690.fd95da","559e3553.818614"]]},{"id":"ee5b1475.fb07b8","type":"server-state-changed","z":"d159755.74ae788","name":"Fletcher Away","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":460,"wires":[[],["6af5f59e.d0e224","cd4e5bb5.d3011"]]},{"id":"44827209.786b8c","type":"server-state-changed","z":"d159755.74ae788","name":"Karien Away","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":560,"wires":[[],["2a0f0585.5ce10a","62d41142.9af138"]]},{"id":"7613aa17.055e54","type":"api-call-service","z":"d159755.74ae788","name":"Fletcher Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.fletcher_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":40,"wires":[[]]},{"id":"7118bbd3.cde54c","type":"api-call-service","z":"d159755.74ae788","name":"Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":560,"wires":[[]]},{"id":"6af5f59e.d0e224","type":"api-call-service","z":"d159755.74ae788","name":"Fletcher Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fletcher_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":380,"wires":[[]]},{"id":"2a0f0585.5ce10a","type":"api-call-service","z":"d159755.74ae788","name":"Karien Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.karien_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":640,"wires":[[]]},{"id":"cd4e5bb5.d3011","type":"api-current-state","z":"d159755.74ae788","name":"Check Karien Home","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.karien_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":460,"wires":[[],["7118bbd3.cde54c"]]},{"id":"62d41142.9af138","type":"api-current-state","z":"d159755.74ae788","name":"Check Fletcher Home","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.fletcher_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":540,"wires":[[],["7118bbd3.cde54c"]]},{"id":"2bc44690.fd95da","type":"api-call-service","z":"d159755.74ae788","name":"Someone is home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":140,"wires":[[]]},{"id":"559e3553.818614","type":"api-call-service","z":"d159755.74ae788","name":"Karien Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.karien_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":240,"wires":[[]]},{"id":"96e889.58acb778","type":"comment","z":"416d16f.3c6e568","name":"Good Morning","info":"","x":90,"y":220,"wires":[]},{"id":"fdfbcb6b.46a498","type":"server-events","z":"416d16f.3c6e568","name":"","server":"918ab98a.2ba3","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":280,"wires":[["4cd9e623.8c08c8"]]},{"id":"4cd9e623.8c08c8","type":"switch","z":"416d16f.3c6e568","name":"domain?","property":"payload.event.domain","propertyType":"msg","rules":[{"t":"eq","v":"script","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":280,"wires":[["43f482ad.fc233c"]]},{"id":"41280e35.19bbd","type":"api-call-service","z":"416d16f.3c6e568","name":"Study LED Light On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.study_sensor_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":120,"wires":[[]]},{"id":"43f482ad.fc233c","type":"switch","z":"416d16f.3c6e568","name":"which script?","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"good_morning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":200,"wires":[["41280e35.19bbd"]]},{"id":"693dfcae.ccc8b4","type":"switch","z":"b22a282c.19ebd8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":220,"wires":[["4519a139.9caad8"],["a0b9a98.3678058"]]},{"id":"4519a139.9caad8","type":"template","z":"b22a282c.19ebd8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":440,"y":180,"wires":[["349fb396.b40ba4"]]},{"id":"349fb396.b40ba4","type":"api-current-state","z":"b22a282c.19ebd8","name":"Status?","server":"918ab98a.2ba3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":180,"wires":[["cde72420.ea6fd8","a596fbda.eca22"]]},{"id":"cde72420.ea6fd8","type":"switch","z":"b22a282c.19ebd8","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":160,"wires":[["89c5666.923e718"],["18678061.7feeb8"]]},{"id":"a596fbda.eca22","type":"change","z":"b22a282c.19ebd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["291d8aeb.300efe","30ea504d.b48988"]]},{"id":"89450b14.320fc","type":"change","z":"b22a282c.19ebd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":260,"wires":[["73e0d3da.cd59bc","30ea504d.b48988"]]},{"id":"a0b9a98.3678058","type":"api-call-service","z":"b22a282c.19ebd8","name":"Just Left","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":440,"y":260,"wires":[["291d8aeb.300efe","89450b14.320fc"]]},{"id":"89c5666.923e718","type":"api-call-service","z":"b22a282c.19ebd8","name":"Just Arrived","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":140,"wires":[["73e0d3da.cd59bc"]]},{"id":"c88931c2.41735","type":"api-call-service","z":"b22a282c.19ebd8","name":"Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":220,"wires":[["30ea504d.b48988"]]},{"id":"111585af.ebf8f2","type":"api-call-service","z":"b22a282c.19ebd8","name":"Extended Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1160,"y":200,"wires":[[]]},{"id":"291d8aeb.300efe","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":710,"y":240,"wires":[["c88931c2.41735"]]},{"id":"30ea504d.b48988","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1010,"y":200,"wires":[["111585af.ebf8f2"]]},{"id":"73e0d3da.cd59bc","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1010,"y":140,"wires":[["18678061.7feeb8"]]},{"id":"18678061.7feeb8","type":"api-call-service","z":"b22a282c.19ebd8","name":"Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":160,"wires":[[]]},{"id":"777a1b55.0be604","type":"change","z":"b22a282c.19ebd8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_fletcher_kelly","fromt":"str","to":"fk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":160,"wires":[["693dfcae.ccc8b4"]]},{"id":"c17482d2.7862f8","type":"switch","z":"e1b04a49.88742","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":260,"wires":[["a807a023.3ce09"],["1963220.d4ff55e"]]},{"id":"1963220.d4ff55e","type":"template","z":"e1b04a49.88742","name":"Just Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Left\"\n   }\n}","output":"str","x":380,"y":300,"wires":[["86dd4182.69071"]]},{"id":"a807a023.3ce09","type":"template","z":"e1b04a49.88742","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":380,"y":220,"wires":[["f4816d42.301598"]]},{"id":"f4816d42.301598","type":"api-current-state","z":"e1b04a49.88742","name":"Status?","server":"918ab98a.2ba3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":220,"wires":[["e7379a8.9a168e8","37caa0d7.06a738"]]},{"id":"e7379a8.9a168e8","type":"switch","z":"e1b04a49.88742","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":200,"wires":[["2f7a7000.e2205"],["47de8b1e.7b587c"]]},{"id":"37caa0d7.06a738","type":"change","z":"e1b04a49.88742","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["27bb2ea5.c8bdea","7b11510d.106f38"]]},{"id":"e646a4a8.c5a9e8","type":"change","z":"e1b04a49.88742","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":300,"wires":[["24f83889.219c6","7b11510d.106f38"]]},{"id":"86dd4182.69071","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":510,"y":300,"wires":[["27bb2ea5.c8bdea","e646a4a8.c5a9e8"]]},{"id":"56da54f4.e00394","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":180,"wires":[["24f83889.219c6"]]},{"id":"95099799.05021","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":280,"wires":[["7b11510d.106f38"]]},{"id":"edceb185.1de27","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":240,"wires":[[]]},{"id":"27bb2ea5.c8bdea","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":650,"y":280,"wires":[["3292bb7.2c64744"]]},{"id":"7b11510d.106f38","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1070,"y":240,"wires":[["18c48878.20685"]]},{"id":"24f83889.219c6","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1070,"y":180,"wires":[["47de8b1e.7b587c"]]},{"id":"2f7a7000.e2205","type":"template","z":"e1b04a49.88742","name":"Just Arrived","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Arrived\"\n   }\n}","output":"str","x":810,"y":180,"wires":[["56da54f4.e00394"]]},{"id":"47de8b1e.7b587c","type":"template","z":"e1b04a49.88742","name":"Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Home\"\n   }\n}","output":"str","x":1190,"y":200,"wires":[[]]},{"id":"18c48878.20685","type":"template","z":"e1b04a49.88742","name":"Extended Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Extended Away\"\n   }\n}","output":"str","x":1220,"y":240,"wires":[["edceb185.1de27"]]},{"id":"3292bb7.2c64744","type":"template","z":"e1b04a49.88742","name":"Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Away\"\n   }\n}","output":"str","x":770,"y":280,"wires":[["95099799.05021"]]},{"id":"a50a1be4.60f528","type":"server-state-changed","z":"b22a282c.19ebd8","name":"Fletcher?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":60,"wires":[["777a1b55.0be604"]]},{"id":"7ffc49f7.9a102","type":"server-state-changed","z":"e1b04a49.88742","name":"Fletcher?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["d32dd8b.fbd08a8"]]},{"id":"d32dd8b.fbd08a8","type":"change","z":"e1b04a49.88742","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_fletcher_kelly","fromt":"str","to":"fk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":200,"wires":[["c17482d2.7862f8"]]},{"id":"4c5778a.c1d2708","type":"change","z":"e1b04a49.88742","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_karien","fromt":"str","to":"kk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":300,"wires":[["c17482d2.7862f8"]]},{"id":"5a5e45a.d02833c","type":"server-state-changed","z":"e1b04a49.88742","name":"Karien?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["4c5778a.c1d2708"]]},{"id":"6d25385d.5b2e08","type":"change","z":"b22a282c.19ebd8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_karien","fromt":"str","to":"kk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":260,"wires":[["693dfcae.ccc8b4"]]},{"id":"c51f7428.a8546","type":"server-state-changed","z":"b22a282c.19ebd8","name":"Karien?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":460,"wires":[["6d25385d.5b2e08"]]}]