dev-flows.json
[{"id":"d159755.74ae788","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"416d16f.3c6e568","type":"tab","label":"Good Morning - TEST","disabled":false,"info":""},{"id":"b22a282c.19ebd8","type":"tab","label":"People dropdown status 1","disabled":false,"info":""},{"id":"e1b04a49.88742","type":"tab","label":"People dropdown status 2","disabled":false,"info":""},{"id":"beb177d3.e0fc28","type":"tab","label":"Prod Ready - Tuya Lights - Sunset","disabled":true,"info":""},{"id":"fae239f6.8b4828","type":"tab","label":"Colour Change bulb based on presence","disabled":false,"info":""},{"id":"21f1d220.35bdc6","type":"tab","label":"Server Cabinet","disabled":false,"info":""},{"id":"ccdc8e1d.6bb5","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dfe6fad3.7d3ec8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"369b1f9a.917c9","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"8d35b4b0.d6674","type":"subflow","name":"Karien - Alexa Messages","info":"","category":"","in":[{"x":100,"y":200,"wires":[{"id":"ee408e7d.975078"}]}],"out":[],"env":[]},{"id":"415f0e4f.983848","type":"subflow","name":"Fletcher - Alexa Messages","info":"","category":"Notifications","in":[{"x":200,"y":140,"wires":[{"id":"c5a90144.fd0eb8"}]}],"out":[],"env":[]},{"id":"afb1026c.47af68","type":"subflow","name":"Public Holiday Check - Calendarific","info":"","category":"","in":[{"x":20,"y":80,"wires":[]}],"out":[{"x":1080,"y":220,"wires":[{"id":"be7711e2.aae1a8","port":0}]},{"x":1080,"y":480,"wires":[{"id":"b256a936.70b8c8","port":0}]}],"env":[]},{"id":"918ab98a.2ba3","type":"server","z":"","name":"HA-HomeAssistant-Dev","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"3b6c8da9.a05eba","type":"server","z":"","name":"Home Assistant"},{"id":"ee408e7d.975078","type":"function","z":"8d35b4b0.d6674","name":"create \"Karien\" message","func":"var name = 'Karien';\n\nmsg.payload = { \n    message: 'Welcome Home' + name\n};\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":189,"wires":[[]]},{"id":"c5a90144.fd0eb8","type":"function","z":"415f0e4f.983848","name":"create \"fletcher\" message","func":"var name = 'Fletcher';\n\nmsg.payload = { \n    message: name + ' is home',\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[[]]},{"id":"6c80c44c.2bea9c","type":"subflow:415f0e4f.983848","z":"d159755.74ae788","name":"","env":[],"x":720,"y":40,"wires":[]},{"id":"a915b70c.2a8a4","type":"subflow:8d35b4b0.d6674","z":"d159755.74ae788","name":"","x":830,"y":320,"wires":[]},{"id":"64c220a9.45072","type":"delay","z":"d159755.74ae788","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":320,"wires":[["a915b70c.2a8a4"]]},{"id":"f5e73493.495d2","type":"server-state-changed","z":"d159755.74ae788","name":"Fletcher Home","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":150,"y":140,"wires":[[],["7613aa17.055e54","6c80c44c.2bea9c","2bc44690.fd95da"]]},{"id":"d032a356.363be","type":"server-state-changed","z":"d159755.74ae788","name":"Karien Home","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":170,"y":200,"wires":[[],["64c220a9.45072","2bc44690.fd95da","559e3553.818614"]]},{"id":"ee5b1475.fb07b8","type":"server-state-changed","z":"d159755.74ae788","name":"Fletcher Away","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":460,"wires":[[],["6af5f59e.d0e224","cd4e5bb5.d3011"]]},{"id":"44827209.786b8c","type":"server-state-changed","z":"d159755.74ae788","name":"Karien Away","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":560,"wires":[[],["2a0f0585.5ce10a","62d41142.9af138"]]},{"id":"7613aa17.055e54","type":"api-call-service","z":"d159755.74ae788","name":"Fletcher Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.fletcher_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":40,"wires":[[]]},{"id":"7118bbd3.cde54c","type":"api-call-service","z":"d159755.74ae788","name":"Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":560,"wires":[[]]},{"id":"6af5f59e.d0e224","type":"api-call-service","z":"d159755.74ae788","name":"Fletcher Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.fletcher_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":380,"wires":[[]]},{"id":"2a0f0585.5ce10a","type":"api-call-service","z":"d159755.74ae788","name":"Karien Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.karien_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":640,"wires":[[]]},{"id":"cd4e5bb5.d3011","type":"api-current-state","z":"d159755.74ae788","name":"Check Karien Home","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.karien_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":460,"wires":[[],["7118bbd3.cde54c"]]},{"id":"62d41142.9af138","type":"api-current-state","z":"d159755.74ae788","name":"Check Fletcher Home","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.fletcher_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":540,"wires":[[],["7118bbd3.cde54c"]]},{"id":"2bc44690.fd95da","type":"api-call-service","z":"d159755.74ae788","name":"Someone is home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":140,"wires":[[]]},{"id":"559e3553.818614","type":"api-call-service","z":"d159755.74ae788","name":"Karien Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.karien_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":240,"wires":[[]]},{"id":"96e889.58acb778","type":"comment","z":"416d16f.3c6e568","name":"Good Morning","info":"","x":90,"y":220,"wires":[]},{"id":"fdfbcb6b.46a498","type":"server-events","z":"416d16f.3c6e568","name":"","server":"918ab98a.2ba3","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":280,"wires":[["4cd9e623.8c08c8"]]},{"id":"4cd9e623.8c08c8","type":"switch","z":"416d16f.3c6e568","name":"domain?","property":"payload.event.domain","propertyType":"msg","rules":[{"t":"eq","v":"script","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":280,"wires":[["43f482ad.fc233c"]]},{"id":"41280e35.19bbd","type":"api-call-service","z":"416d16f.3c6e568","name":"Study LED Light On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.study_sensor_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":120,"wires":[[]]},{"id":"43f482ad.fc233c","type":"switch","z":"416d16f.3c6e568","name":"which script?","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"good_morning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":200,"wires":[["41280e35.19bbd"]]},{"id":"693dfcae.ccc8b4","type":"switch","z":"b22a282c.19ebd8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":220,"wires":[["4519a139.9caad8"],["a0b9a98.3678058"]]},{"id":"4519a139.9caad8","type":"template","z":"b22a282c.19ebd8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":440,"y":180,"wires":[["349fb396.b40ba4"]]},{"id":"349fb396.b40ba4","type":"api-current-state","z":"b22a282c.19ebd8","name":"Status?","server":"918ab98a.2ba3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":180,"wires":[["cde72420.ea6fd8","a596fbda.eca22"]]},{"id":"cde72420.ea6fd8","type":"switch","z":"b22a282c.19ebd8","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":160,"wires":[["89c5666.923e718"],["18678061.7feeb8"]]},{"id":"a596fbda.eca22","type":"change","z":"b22a282c.19ebd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["291d8aeb.300efe","30ea504d.b48988"]]},{"id":"89450b14.320fc","type":"change","z":"b22a282c.19ebd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":260,"wires":[["73e0d3da.cd59bc","30ea504d.b48988"]]},{"id":"a0b9a98.3678058","type":"api-call-service","z":"b22a282c.19ebd8","name":"Just Left","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":440,"y":260,"wires":[["291d8aeb.300efe","89450b14.320fc"]]},{"id":"89c5666.923e718","type":"api-call-service","z":"b22a282c.19ebd8","name":"Just Arrived","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":140,"wires":[["73e0d3da.cd59bc"]]},{"id":"c88931c2.41735","type":"api-call-service","z":"b22a282c.19ebd8","name":"Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":220,"wires":[["30ea504d.b48988"]]},{"id":"111585af.ebf8f2","type":"api-call-service","z":"b22a282c.19ebd8","name":"Extended Away","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1160,"y":200,"wires":[[]]},{"id":"291d8aeb.300efe","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":710,"y":240,"wires":[["c88931c2.41735"]]},{"id":"30ea504d.b48988","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1010,"y":200,"wires":[["111585af.ebf8f2"]]},{"id":"73e0d3da.cd59bc","type":"trigger","z":"b22a282c.19ebd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1010,"y":140,"wires":[["18678061.7feeb8"]]},{"id":"18678061.7feeb8","type":"api-call-service","z":"b22a282c.19ebd8","name":"Home","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":160,"wires":[[]]},{"id":"777a1b55.0be604","type":"change","z":"b22a282c.19ebd8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_fletcher_kelly","fromt":"str","to":"fk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":160,"wires":[["693dfcae.ccc8b4"]]},{"id":"c17482d2.7862f8","type":"switch","z":"e1b04a49.88742","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":260,"wires":[["a807a023.3ce09"],["1963220.d4ff55e"]]},{"id":"1963220.d4ff55e","type":"template","z":"e1b04a49.88742","name":"Just Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Left\"\n   }\n}","output":"str","x":380,"y":300,"wires":[["86dd4182.69071"]]},{"id":"a807a023.3ce09","type":"template","z":"e1b04a49.88742","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":380,"y":220,"wires":[["f4816d42.301598"]]},{"id":"f4816d42.301598","type":"api-current-state","z":"e1b04a49.88742","name":"Status?","server":"918ab98a.2ba3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":220,"wires":[["e7379a8.9a168e8","37caa0d7.06a738"]]},{"id":"e7379a8.9a168e8","type":"switch","z":"e1b04a49.88742","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":200,"wires":[["2f7a7000.e2205"],["47de8b1e.7b587c"]]},{"id":"37caa0d7.06a738","type":"change","z":"e1b04a49.88742","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["27bb2ea5.c8bdea","7b11510d.106f38"]]},{"id":"e646a4a8.c5a9e8","type":"change","z":"e1b04a49.88742","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":300,"wires":[["24f83889.219c6","7b11510d.106f38"]]},{"id":"86dd4182.69071","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":510,"y":300,"wires":[["27bb2ea5.c8bdea","e646a4a8.c5a9e8"]]},{"id":"56da54f4.e00394","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":180,"wires":[["24f83889.219c6"]]},{"id":"95099799.05021","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":280,"wires":[["7b11510d.106f38"]]},{"id":"edceb185.1de27","type":"api-call-service","z":"e1b04a49.88742","name":"HA","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":240,"wires":[[]]},{"id":"27bb2ea5.c8bdea","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":650,"y":280,"wires":[["3292bb7.2c64744"]]},{"id":"7b11510d.106f38","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1070,"y":240,"wires":[["18c48878.20685"]]},{"id":"24f83889.219c6","type":"trigger","z":"e1b04a49.88742","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1070,"y":180,"wires":[["47de8b1e.7b587c"]]},{"id":"2f7a7000.e2205","type":"template","z":"e1b04a49.88742","name":"Just Arrived","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Arrived\"\n   }\n}","output":"str","x":810,"y":180,"wires":[["56da54f4.e00394"]]},{"id":"47de8b1e.7b587c","type":"template","z":"e1b04a49.88742","name":"Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Home\"\n   }\n}","output":"str","x":1190,"y":200,"wires":[[]]},{"id":"18c48878.20685","type":"template","z":"e1b04a49.88742","name":"Extended Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Extended Away\"\n   }\n}","output":"str","x":1220,"y":240,"wires":[["edceb185.1de27"]]},{"id":"3292bb7.2c64744","type":"template","z":"e1b04a49.88742","name":"Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Away\"\n   }\n}","output":"str","x":770,"y":280,"wires":[["95099799.05021"]]},{"id":"a50a1be4.60f528","type":"server-state-changed","z":"b22a282c.19ebd8","name":"Fletcher?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":60,"wires":[["777a1b55.0be604"]]},{"id":"7ffc49f7.9a102","type":"server-state-changed","z":"e1b04a49.88742","name":"Fletcher?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["d32dd8b.fbd08a8"]]},{"id":"d32dd8b.fbd08a8","type":"change","z":"e1b04a49.88742","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_fletcher_kelly","fromt":"str","to":"fk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":200,"wires":[["c17482d2.7862f8"]]},{"id":"4c5778a.c1d2708","type":"change","z":"e1b04a49.88742","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_karien","fromt":"str","to":"kk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":300,"wires":[["c17482d2.7862f8"]]},{"id":"5a5e45a.d02833c","type":"server-state-changed","z":"e1b04a49.88742","name":"Karien?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["4c5778a.c1d2708"]]},{"id":"6d25385d.5b2e08","type":"change","z":"b22a282c.19ebd8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.life360_karien","fromt":"str","to":"kk_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":260,"wires":[["693dfcae.ccc8b4"]]},{"id":"c51f7428.a8546","type":"server-state-changed","z":"b22a282c.19ebd8","name":"Karien?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_karien","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":460,"wires":[["6d25385d.5b2e08"]]},{"id":"b8c89b59.c217d8","type":"function","z":"afb1026c.47af68","name":"Extract DD MM YYYY","func":"var yyyy = msg.result.split(\"-\")[0];\nvar mm =  msg.result.split(\"-\")[1];\nvar dd1 =  msg.result.split(\"-\")[2];\nvar dd = dd1.split(\"T\")[0];\nvar secret = msg.secret;\n\nmsg.year = yyyy;\nmsg.month = mm;\nmsg.day = dd;\n\nvar url = \"https://calendarific.com/api/v2/holidays?api_key=\" + {secret} + \"&country=ZA&year=\" + yyyy + \"&day=\" + dd + \"&month=\" + mm;\nmsg.url = url;\n//https://calendarific.com/api/v2/holidays?api_key={{secret}}&country=ZA&year={year}&day={day}&month={month}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["5e593060.b73b58"]]},{"id":"5e593060.b73b58","type":"template","z":"afb1026c.47af68","name":"Set msg.url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://calendarific.com/api/v2/holidays?api_key={{secret}}&country=ZA&year={{year}}&day={{day}}&month={{month}}","x":430,"y":160,"wires":[["3ce6319e.f1a8ee"]]},{"id":"3ce6319e.f1a8ee","type":"http request","z":"afb1026c.47af68","name":"Calendarific response","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":660,"y":280,"wires":[["2d173ebd.a52bc2"]]},{"id":"2d173ebd.a52bc2","type":"switch","z":"afb1026c.47af68","name":"","property":"payload.response.holidays","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":340,"wires":[["be7711e2.aae1a8"],["b256a936.70b8c8"]]},{"id":"be7711e2.aae1a8","type":"change","z":"afb1026c.47af68","name":"PublicHoliday-Yes","rules":[{"t":"set","p":"publicHoliday","pt":"msg","to":"yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":320,"wires":[[]]},{"id":"b256a936.70b8c8","type":"change","z":"afb1026c.47af68","name":"PublicHoliday-No","rules":[{"t":"set","p":"publicHoliday","pt":"msg","to":"no","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[[]]},{"id":"f9406422.9d4dc8","type":"api-call-service","z":"beb177d3.e0fc28","name":"Karien Lamp Off","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":" light.karien_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":820,"wires":[[]]},{"id":"ab9bfdeb.ef7ff8","type":"inject","z":"beb177d3.e0fc28","name":"21:40 (19:40 in UTC)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 21 * * 1,2,3,4,0","once":false,"onceDelay":"","x":600,"y":880,"wires":[["a008fcf5.240288","b997a285.0cfd58","38833d0.52fbfc4"]]},{"id":"a008fcf5.240288","type":"api-current-state","z":"beb177d3.e0fc28","name":"Karien Lamp Off Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.karien_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":800,"wires":[[],["f9406422.9d4dc8"]]},{"id":"1a2add35.0f1cc3","type":"inject","z":"beb177d3.e0fc28","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["40e5ed31.1c768c"]]},{"id":"3fb9deb5.923242","type":"inject","z":"beb177d3.e0fc28","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["40e5ed31.1c768c"]]},{"id":"88fbb4ec.30578","type":"inject","z":"beb177d3.e0fc28","name":"off","topic":"off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["40e5ed31.1c768c"]]},{"id":"9e67d185.10bc28","type":"api-current-state","z":"beb177d3.e0fc28","name":"Is someone at home?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":580,"wires":[["f15340c5.cd0f9"],["b997a285.0cfd58","a008fcf5.240288"]]},{"id":"5d171645.864068","type":"change","z":"beb177d3.e0fc28","name":"set desired state to a flow variable","rules":[{"t":"set","p":"light.sunset.desiredstate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":560,"wires":[["9e67d185.10bc28"]]},{"id":"f15340c5.cd0f9","type":"switch","z":"beb177d3.e0fc28","name":"turn on or off?","property":"light.sunset.desiredstate","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":820,"y":500,"wires":[["356aed2.0100812","1f4c8ac3.abba05"],["a008fcf5.240288","b997a285.0cfd58"]]},{"id":"7bbe204d.54de5","type":"api-call-service","z":"beb177d3.e0fc28","name":"Karien Lamp On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.karien_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":580,"wires":[[]]},{"id":"1f4c8ac3.abba05","type":"api-current-state","z":"beb177d3.e0fc28","name":"Karien Lamp On Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.karien_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":560,"wires":[[],["7bbe204d.54de5"]]},{"id":"b997a285.0cfd58","type":"api-current-state","z":"beb177d3.e0fc28","name":"Fletcher Lamp Off Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.fletch_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1080,"y":720,"wires":[[],["b62ef900.fa5b7"]]},{"id":"b62ef900.fa5b7","type":"api-call-service","z":"beb177d3.e0fc28","name":"Fletcher Lamp Off","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.fletch_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":740,"wires":[[]]},{"id":"3a8af82b.f6af38","type":"api-call-service","z":"beb177d3.e0fc28","name":"Fletcher Lamp On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.fletch_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":520,"wires":[[]]},{"id":"356aed2.0100812","type":"api-current-state","z":"beb177d3.e0fc28","name":"Fletcher Lamp On Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.fletch_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1080,"y":500,"wires":[[],["3a8af82b.f6af38"]]},{"id":"f124c70e.03943","type":"api-call-service","z":"beb177d3.e0fc28","name":"Karien Lamp Off","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":" light.karien_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1840,"y":360,"wires":[[]]},{"id":"5e8146e8.36512","type":"api-current-state","z":"beb177d3.e0fc28","name":"Karien Lamp Off Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.karien_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1550,"y":380,"wires":[[],["f124c70e.03943"]]},{"id":"e55cdae1.143788","type":"inject","z":"beb177d3.e0fc28","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["9cb08024.cb544"]]},{"id":"32c8567.2760e2a","type":"inject","z":"beb177d3.e0fc28","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["9cb08024.cb544"]]},{"id":"ae4fe647.f805d","type":"inject","z":"beb177d3.e0fc28","name":"off","topic":"off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["9cb08024.cb544"]]},{"id":"77fab84f.bfe278","type":"api-current-state","z":"beb177d3.e0fc28","name":"Is someone at home?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1160,"y":160,"wires":[["ae96f2d.070949","6f27898d.e3806"],["a2cb0285.684548","5e8146e8.36512"]]},{"id":"74b05a97.de434c","type":"change","z":"beb177d3.e0fc28","name":"set desired state to a flow variable","rules":[{"t":"set","p":"light.morning.desiredstate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["60ddd3f3.5d7174"]]},{"id":"a785d8c2.e7a238","type":"switch","z":"beb177d3.e0fc28","name":"turn on or off?","property":"light.morning.desiredstate","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":160,"wires":[["77fab84f.bfe278"],["5e8146e8.36512","a2cb0285.684548"]]},{"id":"76658cae.bcac34","type":"api-call-service","z":"beb177d3.e0fc28","name":"Karien Lamp On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":" light.karien_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1820,"y":160,"wires":[[]]},{"id":"6f27898d.e3806","type":"api-current-state","z":"beb177d3.e0fc28","name":"Karien Lamp On Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.karien_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":160,"wires":[[],["76658cae.bcac34"]]},{"id":"a2cb0285.684548","type":"api-current-state","z":"beb177d3.e0fc28","name":"Fletcher Lamp Off Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.fletch_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1480,"y":260,"wires":[[],["ed8b6646.06698"]]},{"id":"ed8b6646.06698","type":"api-call-service","z":"beb177d3.e0fc28","name":"Fletcher Lamp Off","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.fletch_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1830,"y":260,"wires":[[]]},{"id":"ae96f2d.070949","type":"api-current-state","z":"beb177d3.e0fc28","name":"Fletcher Lamp On Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.fletch_rbgw_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1500,"y":80,"wires":[[],["345aabc6.fc7ee4"]]},{"id":"38833d0.52fbfc4","type":"api-current-state","z":"beb177d3.e0fc28","name":"Lounge Lamp Off Already?","server":"918ab98a.2ba3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.lounge_rbgw","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":960,"y":900,"wires":[[],["629a4656.fbce8"]]},{"id":"629a4656.fbce8","type":"api-call-service","z":"beb177d3.e0fc28","name":"Lounge Lamp Off","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lounge_rbgw","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":920,"wires":[[]]},{"id":"76d023a0.4cc3d4","type":"api-current-state","z":"beb177d3.e0fc28","name":"is it a workday?","server":"918ab98a.2ba3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.workday_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":40,"wires":[["a785d8c2.e7a238"]]},{"id":"bfde115e.524448","type":"server-state-changed","z":"beb177d3.e0fc28","name":"Did someone come home?","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":380,"wires":[["fafa74a9.0eea1"]]},{"id":"fafa74a9.0eea1","type":"switch","z":"beb177d3.e0fc28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":380,"wires":[["86dd462d.8d299"],["a2cb0285.684548","5e8146e8.36512"]]},{"id":"86dd462d.8d299","type":"function","z":"beb177d3.e0fc28","name":"Set payload to auto","func":"msg.payload = \"auto\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["9cb08024.cb544","40e5ed31.1c768c","b850fbd9.0c1d3"]]},{"id":"2440321e.3a4046","type":"switch","z":"beb177d3.e0fc28","name":"","property":"publicHoliday","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":140,"wires":[["76d023a0.4cc3d4"]]},{"id":"345aabc6.fc7ee4","type":"api-call-service","z":"beb177d3.e0fc28","name":"Fletcher Lamp On","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.fletch_rbgw_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1790,"y":80,"wires":[[]]},{"id":"60ddd3f3.5d7174","type":"subflow:afb1026c.47af68","z":"beb177d3.e0fc28","name":"","env":[],"x":380,"y":80,"wires":[[],["2440321e.3a4046"]],"inputLabels":["Timestamp"]},{"id":"40e5ed31.1c768c","type":"bigtimer","z":"beb177d3.e0fc28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunset","comment":"","lat":"-26.018644","lon":"28.020613","starttime":"5004","endtime":"1305","starttime2":0,"endtime2":0,"startoff":"-45","endoff":"-10","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":120,"y":560,"wires":[["5d171645.864068"],[],[]]},{"id":"9cb08024.cb544","type":"bigtimer","z":"beb177d3.e0fc28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Morning lights","comment":"","lat":"-26.0188","lon":"28.0194","starttime":"300","endtime":"345","starttime2":0,"endtime2":0,"startoff":"+5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":160,"y":260,"wires":[["74b05a97.de434c"],[],[]]},{"id":"ef28322e.9e03e8","type":"function","z":"fae239f6.8b4828","name":"Set LED colours","func":"//If person1 is home -> LED = Red\n//If person2 is home -> LED = Blue\n//If both are home -> LED = Purple\n//If no one is home -> LED = off\nif (msg.payload.length === 0) return [null, msg];\n\nlet color = \"blue\" // default to person2\nif (msg.payload.length == 2) {\n    color = \"purple\";\n} else if (msg.payload[0].entity_id == \"device_tracker.person1\") {\n    color = \"red\";\n}\nmsg.color = color;\nreturn [msg, null];","outputs":2,"noerr":0,"x":900,"y":140,"wires":[["c076d61f.1ef988"],["a26e0ef3.2baa58"]]},{"id":"fce085cd.a4cd3","type":"ha-get-entities","z":"fae239f6.8b4828","server":"918ab98a.2ba3","name":"","rules":[{"property":"entity_id","logic":"includes","value":"device_tracker.life360_fletcher_kelly,device_tracker.life360_karien","valueType":"str"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":450,"y":260,"wires":[["2000ddb9.b5f3ba"]]},{"id":"a26e0ef3.2baa58","type":"api-call-service","z":"fae239f6.8b4828","name":"Turn off Light","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lounge_rbgw","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1180,"y":200,"wires":[[]]},{"id":"c076d61f.1ef988","type":"api-call-service","z":"fae239f6.8b4828","name":"Set color","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lounge_rbgw","data":"{\"color_name\":\"{{color}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1160,"y":120,"wires":[[]]},{"id":"a9ed5c9c.87b2f8","type":"server-state-changed","z":"fae239f6.8b4828","name":"Device Tracker - state changed","server":"918ab98a.2ba3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_fletcher_kelly,device_tracker.life360_karien","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":120,"wires":[["fce085cd.a4cd3"]]},{"id":"7c8848a7.603f5","type":"server-state-changed","z":"ccdc8e1d.6bb5","name":"Bathroom Motion","server":"3b6c8da9.a05eba","entityidfilter":"binary_sensor.bathroom_motion","haltifstate":"off","outputs":1,"x":120,"y":300,"wires":[["5322bbf8.dfc0c4"]]},{"id":"ac4760b7.b2b718","type":"api-current-state","z":"ccdc8e1d.6bb5","name":"Light Off?","server":"3b6c8da9.a05eba","outputs":1,"halt_if":"on","entity_id":"switch.bathroom_light","x":473.33340072631836,"y":261.33339405059814,"wires":[["54c9af0c.df24c8"]]},{"id":"54c9af0c.df24c8","type":"api-call-service","z":"ccdc8e1d.6bb5","name":"ON","server":"3b6c8da9.a05eba","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.bathroom_light\"}","x":934.9999504089355,"y":262.99997901916504,"wires":[[]]},{"id":"f2729089.c51ff","type":"api-render-template","z":"ccdc8e1d.6bb5","name":"Still in Bathroom?","server":"3b6c8da9.a05eba","template":"{{ states.variable.last_motion.state != 'Bathroom Motion' }}","x":643.3333396911621,"y":320.0000238418579,"wires":[["7442ff72.12ba98"]]},{"id":"7442ff72.12ba98","type":"switch","z":"ccdc8e1d.6bb5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","outputs":1,"x":808.3333015441895,"y":320.00000286102295,"wires":[["49c15171.a1eb5"]]},{"id":"49c15171.a1eb5","type":"api-call-service","z":"ccdc8e1d.6bb5","name":"OFF","server":"3b6c8da9.a05eba","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.bathroom\"}","x":937.5001754760742,"y":320.00003147125244,"wires":[[]]},{"id":"97565a82.3d3ed8","type":"server-state-changed","z":"ccdc8e1d.6bb5","name":"Bathroom Switch Flipped On","server":"3b6c8da9.a05eba","entityidfilter":"switch.bathroom_light","haltifstate":"off","outputs":1,"x":253.33336639404297,"y":375.0001130104065,"wires":[["216fca0a.edf9b6"]]},{"id":"5322bbf8.dfc0c4","type":"time-range-switch","z":"ccdc8e1d.6bb5","name":"After 6AM","lat":"","lon":"","startTime":"06:00","endTime":"23:59","startOffset":"","endOffset":"","x":303.333309173584,"y":299.9999780654907,"wires":[["ac4760b7.b2b718","216fca0a.edf9b6"],[]]},{"id":"216fca0a.edf9b6","type":"stoptimer","z":"ccdc8e1d.6bb5","duration":"12","units":"Minute","payloadtype":"num","payloadval":"0","name":"12min","x":460.0000190734863,"y":326.6667079925537,"wires":[["f2729089.c51ff"],[]]},{"id":"b850fbd9.0c1d3","type":"time-range-switch","z":"beb177d3.e0fc28","name":"After 6PM","lat":"-26.0188","lon":"28.0194","startTime":"18:00","endTime":"23:59","startOffset":"","endOffset":"","x":920,"y":340,"wires":[["dce4d409.82713"],[]]},{"id":"dce4d409.82713","type":"function","z":"beb177d3.e0fc28","name":"Set payload to on","func":"msg.payload = \"on\"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["40e5ed31.1c768c"]]},{"id":"db96fff7.7e13","type":"comment","z":"dfe6fad3.7d3ec8","name":"STOP configuration","info":"STOP message is configured to be also sent to the COP","x":370,"y":380,"wires":[]},{"id":"b3add03.5855b3","type":"traffic","z":"dfe6fad3.7d3ec8","name":"Traffic sample","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":true,"default_start":false,"differ":false,"x":546.5,"y":226,"wires":[["d82c50e6.010138"]]},{"id":"4d7798c5.c1d218","type":"inject","z":"dfe6fad3.7d3ec8","name":"","topic":"I'm a car","payload":"Cheers !","payloadType":"str","repeat":"2","crontab":"","once":true,"onceDelay":"","x":331.5,"y":222,"wires":[["b3add03.5855b3"]]},{"id":"bf4695ec.77fe9","type":"inject","z":"dfe6fad3.7d3ec8","name":"GO","topic":"","payload":"GO","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":301.5,"y":278,"wires":[["b3add03.5855b3"]]},{"id":"8e43e1ff.91b0c","type":"inject","z":"dfe6fad3.7d3ec8","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":301.5,"y":319,"wires":[["b3add03.5855b3"]]},{"id":"d82c50e6.010138","type":"debug","z":"dfe6fad3.7d3ec8","name":"COP","active":true,"console":"false","complete":"payload","x":714.5,"y":267,"wires":[]},{"id":"46e7bd57.149a14","type":"comment","z":"dfe6fad3.7d3ec8","name":"Traffic Light sample","info":"","x":371.5,"y":149,"wires":[]},{"id":"2000ddb9.b5f3ba","type":"time-range-switch","z":"fae239f6.8b4828","name":"After 6PM","lat":"-26.0188","lon":"28.0194","startTime":"18:00","endTime":"23:59","startOffset":"","endOffset":"","x":660,"y":200,"wires":[["ef28322e.9e03e8"],[]]},{"id":"e50a4f37.0fbf58","type":"trigger-state","z":"21f1d220.35bdc6","name":"Cabinet Temp Monitor","server":"918ab98a.2ba3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.study_sensor_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"n4ec5b68pln","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"31.4"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":180,"y":100,"wires":[["89e1c84b.7b5d5"],[]]},{"id":"89e1c84b.7b5d5","type":"api-call-service","z":"21f1d220.35bdc6","name":"Cabinet Fan ON","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.cabinet_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":120,"wires":[["6496a7d3.6de7e"]]},{"id":"6496a7d3.6de7e","type":"delay","z":"21f1d220.35bdc6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":120,"wires":[["94660e.bab4a9f"]]},{"id":"94660e.bab4a9f","type":"api-call-service","z":"21f1d220.35bdc6","name":"Cabinet Fan OFF","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.cabinet_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":120,"wires":[[]]},{"id":"b351e4ed.4e95a8","type":"comment","z":"21f1d220.35bdc6","name":"On at 31.4","info":"","x":140,"y":100,"wires":[]},{"id":"83feac9e.6e24d8","type":"trigger-state","z":"21f1d220.35bdc6","name":"Cabinet Temp Monitor","server":"918ab98a.2ba3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.study_sensor_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lpaza3huri","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"28.5"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":180,"y":420,"wires":[["628c6996.44da38"],[]]},{"id":"628c6996.44da38","type":"api-call-service","z":"21f1d220.35bdc6","name":"Cabinet Fan OFF","server":"918ab98a.2ba3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.cabinet_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":420,"wires":[[]]},{"id":"83d50d62.0b15b8","type":"looptimer2","z":"369b1f9a.917c9","duration":"1","units":"Minute","maxloops":"9","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":500,"y":300,"wires":[["95ebc413.be8e28"],[]]},{"id":"95ebc413.be8e28","type":"traffic","z":"369b1f9a.917c9","name":"","property_allow":"payload","filter_allow":"","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":780,"y":440,"wires":[[]]},{"id":"9308d591.12bac8","type":"inject","z":"21f1d220.35bdc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":200,"wires":[["94660e.bab4a9f"]]},{"id":"987213da.5db1c","type":"inject","z":"21f1d220.35bdc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["89e1c84b.7b5d5"]]},{"id":"f0ec55c3.b467e8","type":"comment","z":"21f1d220.35bdc6","name":"off at 28.5 - If long running","info":"","x":190,"y":380,"wires":[]}]